discord.py
aiohttp
psutil
python-dotenv
ping3
google-api-python-client
packaging
google-auth
google-auth-httplib2
google-auth-oauthlib
pillow
imageio-ffmpeg
qrcode[pil]
pyzbar
numpy
aiosqlite

# If you migrate to MySQL, add one of:
# mysql-connector-python    # sync client
# aiomysql                  # async client

